{% if total_rows > 0 %}
<table>
    <tr>
        <th>Title</th>
        <th>Description</th>
        <th>Created at</th>
        <th width="12%">Action</th>
    </tr>
    {% for data in datas %}
    <tr>
        <td>
            {{data['title']}}
        </td>
        <td>
            {{data['description']}}
        </td>
        <td>
            {{data['created_at']}}
        </td>
        <td>
            <button class="button info-btn edit-object" edit-data="{{data['id']}}" edit-title="{{data['title']}}" edit-description="{{data['description']}}">Edit</button>
            <button class="button danger-btn delete-object" delete-id="{{data['id']}}">Delete</button>
        </td>
    </tr>
    {% endfor %}
</table>

{% else %}
    <div class='alert alert-danger'>No Todo/s found.</div>
{% endif %}